<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>E1F7DFBE-4F82-1CCD-AE10-D99BE6BA5BE7</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
